mixin steps(data)
    +b.steps()&attributes(attributes)
        .container
            +e.item Выберите <br> дерево на сайте

            +e.item Заполните заявку <br> на участие в акции

            +e.item Дождитесь звонка <br> нашего сотрудника

            +e.item Приходите 29 октября на посадку <br> вашего фамильного дерева