mixin social(data)
    +b.social()&attributes(attributes)
        +e.A.link(href="#")
            != jadeHelpers.Icon.call(locals, {iconName: 'vk', className: 'social__icon social__icon_vk'})
        +e.A.link(href="#")
            != jadeHelpers.Icon.call(locals, {iconName: 'fb', className: 'social__icon social__icon_fb'})
        +e.A.link(href="#")
            != jadeHelpers.Icon.call(locals, {iconName: 'tw', className: 'social__icon social__icon_tw'})
        +e.A.link(href="#")
            != jadeHelpers.Icon.call(locals, {iconName: 'in', className: 'social__icon social__icon_in'})
