mixin map-popup(data)
    +b.map-popup()&attributes(attributes).j-map-popup
        +e.header Рябина
        +e.text
            | Номер посадочного места:
            +e.num.j-map-num 13
        +e.SPAN.btn.j-map-btn Выбрать   block