mixin popup(data)
    +b.popup()&attributes(attributes)#conditions.mfp-hide
        +e.H1.title Условия Акции
            +e.H2.subtitle Инструкция:
            +e.P.text Принять участие в акции «Свой дом, свое дерево» могут только жители корпусов 21,22 ЖК «Татьянин Парк».

            +e.UL.list
                +e.list-title Для того чтобы стать участником акции нужно сделать следующее:
                +e.list-item
                    != jadeHelpers.Icon.call(locals, {iconName: 'icon-leaf', className: 'popup__icon'})
                    | зайти на страницу (адрес лэндинга);

                +e.list-item
                    != jadeHelpers.Icon.call(locals, {iconName: 'icon-leaf', className: 'popup__icon'})
                    | выбрать и забронировать место посадки дерева (на одну квартиру можно забронировать только одно дерево);

                +e.list-item
                    != jadeHelpers.Icon.call(locals, {iconName: 'icon-leaf', className: 'popup__icon'})
                    | заполнить заявку на участие в акции, указав свои фамилию, имя, адрес и контактные данные;

                +e.list-item
                    != jadeHelpers.Icon.call(locals, {iconName: 'icon-leaf', className: 'popup__icon'})
                    | дождаться звонка нашего сотрудника, который подтвердит Ваше участие в акции;

                +e.list-item
                    != jadeHelpers.Icon.call(locals, {iconName: 'icon-leaf', className: 'popup__icon'})
                    | прийти 29 октября на мероприятие по высадке деревьев.

            +e.time Начало регистрации в 11:30 29 октября 2016 года!
            +e.P.bottom-text (*) ГК "МИЦ" гарантирует защиту персональных данных. Оставленные вами контакты будут использованы толькодля регистрации в акции, не будут доступны третьим лицам и не будут опубликованы.




