include ../../components/icons/icons

mixin footer(data)
    +b.footer()&attributes(attributes)
        block
        .wrapper
            +e.bottom
                .container
                    +e.bottom-wrap
                        +e.bottom-block
                            span © 2015 Группа компаний «МИЦ»

                        +e.bottom-block
                            span Вопросы по акции:
                            +e.A.link-tel(href="tel:+7495795-04-04") +7 (495) 795-04-04




