.header {

    background: #ffffff;
    position: relative;
    z-index: 6;


    &__block {
        background-image: url(%=static=%content/header-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: rem(60);

    }

    &__container {
        display: flex;
    }

    &__top {
        background: #fff;
    }

    &__main {
        padding-bottom: rem(30);
    }

    &__logo-block {
        font-size: 0;
        float: left;
    }
    &__logo {
        display: inline-block;
        height: 100%;

        img {
            height: 100%;
        }
    }
    &__block-right {
        padding-top: rem(15);
        margin-left: auto;

    }
    &__socials {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-top: rem(6);
    }

    &__tel {
        display: inline-block;
        vertical-align: middle;
        margin-left: 90px;
        padding-bottom: rem(10);

        color: #3d3539;
        font-family: $font-3;
    }

    &__tel-text {
        font-size: 16px;
    }

    &__tel-link {
        color: #333;
        font-size: 24px;
        font-weight: 900;
        text-decoration: none;
    }

    &__action-wrap {
        position: relative;
        height: 1px;
    }

    &__action-link {
        position: absolute;
        top: rem(95);
        right: 0;
        z-index: 3;

        display: flex;
        align-items: center;
        width: rem(215);
        height: rem(215);
        padding: rem(15);
        border: 1px solid #b3cd58;

        font-size: rem(50);
        font-family: $font-2;
        line-height: 1.1;
        color: #fff;
        text-decoration: none;
        text-align: center;

        box-shadow: 0 0 0 10px #6d8f45;
        border-radius: 50%;
        background-color: #a4b95b;
        outline: none;

        transition: background .3s;

        &:hover {
            background-color: #b0c26f;
        }
    }

    &__title-wrap {
        width: rem(700);
        margin: rem(48) auto rem(540) auto;

        color: #333;
    }

    &__subtitle {
        position: relative;

        margin-bottom: rem(30);

        color: #6d8f45;
        font-size: rem(30);
        text-align: center;

        &::before,
        &::after {
            width: rem(13);
            height: rem(13);
            display: inline-block;

            border-radius: 50%;
            background-color: currentColor;

            vertical-align: middle;

            content: '';
        }

        &::before {
            margin-right: rem(13);
        }
    }

    &__title {
        margin: 0;

        font-size: rem(152);
        font-family: $font-2;
        line-height: .8;

        &_sub {
            display: block;

            text-align: right;
            font-size: rem(87);
        }
    }

}


