include ../social/social
include ../steps/steps

mixin header(data)
    +b.header()&attributes(attributes)
        block
        .wrapper
            +e.block
                +e.top
                    .container
                        +e.logo-block
                            +e.A(href="http://www.gk-mic.ru/" target="_blank").logo
                                img(src="%=static=%img/content/logo-mitc.png")
                            +e.A(href="/").logo
                                img(src="%=static=%img/content/logo-park.png")

                        +e.block-right
                            +e.tel
                                +e.A.tel-link(href="tel:+7495795-04-04") +7 (495) 795-04-04
                                +e.DIV.tel-text Вопросы по акции:

                            +social.__socials

                +e.main
                    .container
                        +e.action-wrap
                            +e.A.action-link(href='#conditions').cond-popup Условия акции

                        +e.title-wrap
                            +e.subtitle Примите участие в акции
                            +e.H1.title СВОЙ ДОМ -
                                +e.title_sub своё дерево

                    +steps.__steps



