.header {
    &__block {
        min-height: 795px;
        background: url(%=static=%/content/bg-header.jpg) no-repeat;

        @include below(1229px) {
            background-position: -400px 0;
        }

        @include above(1230px) {
            background-position: -300px 0;
        }
        @include above(1300px) {
            background-position: -250px 0;
        }
        @include above(1400px) {
            background-position: -200px 0;
        }
        @include above(1780px) {
            background-position: initial;
        }

    }
    &__top {
        background: rgba(255, 255, 255, .7);
    }

    &__logo-block {
        font-size: 0;
        float: left;
    }
    &__logo {
        display: inline-block;
        margin-right: 20px;
    }
    &__block-right {
        float: right;
        padding-top: 15px;
    }
    &__socials {
        display: inline-block;
        vertical-align: middle;
        padding-top: 10px;
    }
    &__soc-link {
        display: inline-block;
        vertical-align: middle;
        margin-left: 45px;
    }
    &__soc-svg_vk {
        width: 40px;
        height: 30px;
    }
    &__soc-svg_fb {
        width: 24px;
        height: 32px;
    }
    &__soc-svg_tw {
        width: 34px;
        height: 26px;
    }
    &__tel {
        display: inline-block;
        vertical-align: middle;
        margin-left: 45px;
        color: #3e3236;
        font-family: $main-font;
        text-align: right;
    }
    &__tel-text {
        font-size: 16px;
    }

    &__tel-link {
        color: #3e3236;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
    }

    &__steps-wrap {
        width: 520px;
        float: right;
        padding-top: 57px;
    }

    &__steps-title {
        position: relative;
        z-index: 20;
        font-family: $main-font;
        color: #fff;

        font-weight: 700;
    }

    &__steps-title-part1 {
        padding-left: 40px;
        font-size: 89px;
    }

    &__steps-title-part2 {
        font-size: 72px;
        text-align: right;
    }

    &__steps-content {
        position: relative;
        top: -34px;
        z-index: 10;

        padding: 56px 0 35px 37px;
        margin-left: 47px;
        background: rgba(41, 45, 32, .5%);
        border-radius: 5px;
    }
    &__steps-img-wrap {
        display: inline-block;
        margin-right: 20px;
    }
    &__steps-text-wrap {
        display: inline-block;
        vertical-align: top;
    }
    &__steps-block {
        margin-bottom: 32px;
        font-family: $main-font;
        color: #fff;
    }
    &__steps-block-title {
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
    }
    &__steps-block-text {
        font-size: 22px;
        font-weight: 400;
        line-height: 18px;
    }
    &__steps-btn {
        padding-left: 43px;
    }
    &__steps-link {
        display: inline-block;
    }
    &__steps-link-img {
        display: block;
        border-radius: 5px;
    }


}


