mixin header(data)
    +b.header()&attributes(attributes)
        block
        .wrapper
            +e.block
                +e.top
                    .container
                        +e.logo-block
                            +e.logo
                                img(src="static/img/content/main-logo.png")
                            +e.logo_bg-red
                                img(src="static/img/content/mic-logo.jpg")

                        +e.block-right
                            +e.socials
                                +e.A.soc-link(href="#") vkontakte
                                +e.A.soc-link(href="#") facebook
                                +e.A.soc-link(href="#") twitter

                            +e.tel
                                +e.DIV.tel-text Вопросы по акции:
                                +e.A.tel-link(href="tel:+7495795-04-04") +7 (495) 795-04-04

                +e.main
                    .container
                        +e.steps-wrap
                            +e.steps-title
                                +e.steps-title-part1 СВОЙ ДОМ,
                                +e.steps-title-part2 СВОЕ ДЕРЕВО

                            +e.steps-content
                                +e.content-wrap
                                    +e.steps-img-wrap
                                        +e.IMG.steps-img(src="static/img/content/steps-img.png")

                                    +e.steps-text-wrap
                                        +e.steps-block
                                            +e.steps-block-title Шаг 1:
                                            +e.steps-block-text Забронируйте место посадки

                                        +e.steps-block
                                            +e.steps-block-title Шаг 2:
                                            +e.steps-block-text Заполните заявку на участие в акции

                                        +e.steps-block
                                            +e.steps-block-title Шаг 3:
                                            +e.steps-block-text Дождитесь звонка нашего сотрудника

                                        +e.steps-block
                                            +e.steps-block-title Шаг 4:
                                            +e.steps-block-text Прийти 17 сентября на посадку<br> вашего фамильного дерева

                                    +e.steps-btn
                                        +e.A.steps-link(href="#")
                                            +e.IMG.steps-link-img(src="static/img/content/steps-button.jpg")


