extends ../layouts/default

include ../components/icons/icons

block head
    -pageSettings.title = 'Главная';

block content
    // Контент здесь
    .map
        .map-tree(data-num='1', style='left: 538px; top: 556px;')
            +icons._thuja
        .map-tree(data-num='2', style='left: 569px; top: 542px;')
            +icons._thuja
        .map-tree(data-num='3', style='left: 527px; top: 539px;')
            +icons._rowan
        .map-tree(data-num='4', style='left: 485px; top: 497px;')
            +icons._maple
        .map-tree(data-num='5', style='left: 492px; top: 527px;')
            +icons._sugar
        .map-tree(data-num='6', style='left: 520px; top: 496px;')
            +icons._thuja
        .map-tree(data-num='7', style='left: 518px; top: 511px;')
            +icons._thuja
        .map-tree(data-num='8', style='left: 473px; top: 485px;')
            +icons._rowan
        .map-tree(data-num='9', style='left: 487px; top: 485px;')
            +icons._thuja
        .map-tree(data-num='11', style='left: 453px; top: 505px;')
            +icons._chestnut
        .map-tree(data-num='12', style='left: 433px; top: 464px;')
            +icons._thuja
        .map-tree(data-num='13', style='left: 439px; top: 414px;')
            +icons._thuja
        .map-tree(data-num='14', style='left: 426px; top: 453px;')
            +icons._thuja
        .map-tree(data-num='15', style='left: 480px; top: 405px;')
            +icons._thuja
        .map-tree(data-num='16', style='left: 488px; top: 421px;')
            +icons._thuja
        .map-tree(data-num='17', style='left: 447px; top: 427px;')
            +icons._thuja
        .map-tree(data-num='18', style='left: 426px; top: 457px;')
            +icons._chestnut
        .map-tree(data-num='19', style='left: 467px; top: 448px;')
            +icons._sugar
        .map-tree(data-num='20', style='left: 440px; top: 435px;')
            +icons._maple
        .map-tree(data-num='21', style='left: 553px; top: 299px;')
            +icons._thuja
        .map-tree(data-num='22', style='left: 581px; top: 299px;')
            +icons._maple
        .map-tree(data-num='23', style='left: 574px; top: 220px;')
            +icons._thuja
        .map-tree(data-num='24', style='left: 576px; top: 171px;')
            +icons._sugar
        .map-tree(data-num='26', style='left: 558px; top: 121px;')
            +icons._rowan
        .map-tree(data-num='27', style='left: 606px; top: 89px;')
            +icons._maple
        .map-tree(data-num='28', style='left: 568px; top: 13px;')
            +icons._linden
        .map-tree(data-num='30', style='left: 565px; top: 14px;')
            +icons._thuja
        .map-tree(data-num='31', style='left: 106px; top: 426px;')
            +icons._linden
        .map-tree(data-num='32', style='left: 62px; top: 381px;')
            +icons._rowan
        .map-tree(data-num='33', style='left: 67px; top: 314px;')
            +icons._linden
        .map-tree(data-num='34', style='left: 145px; top: 288px;')
            +icons._sugar
        .map-tree(data-num='35', style='left: 150px; top: 218px;')
            +icons._chestnut
        .map-tree(data-num='35', style='left: 154px; top: 140px;')
            +icons._sugar
        .map-tree(data-num='37', style='left: 184px; top: 150px;')
            +icons._thuja
        .map-tree(data-num='38', style='left: 195px; top: 58px;')
            +icons._thuja
        .map-tree(data-num='39', style='left: 215px; top: -41px;')
            +icons._thuja
        .map-tree(data-num='40', style='left: 223px; top: -107px;')
            +icons._thuja
        .map-tree(data-num='41', style='left: 229px; top: -167px;')
            +icons._thuja
        .map-tree(data-num='42', style='left: 123px; top: -207px;')
            +icons._linden
        .map-tree(data-num='43', style='left: 133px; top: -297px;')
            +icons._chestnut
        .map-tree(data-num='44', style='left: 77px; top: -339px;')
            +icons._rowan
        .map-tree(data-num='45', style='left: 203px; top: -307px;')
            +icons._thuja
        .map-tree(data-num='46', style='left: 233px; top: -333px;')
            +icons._thuja
        .map-tree(data-num='47', style='left: 210px; top: -394px;')
            +icons._thuja
        .map-tree(data-num='48', style='left: 244px; top: -436px;')
            +icons._thuja
        .map-tree(data-num='49', style='left: 220px; top: -498px;')
            +icons._thuja
        .map-tree(data-num='50', style='left: 254px; top: -549px;')
            +icons._thuja
        .map-tree(data-num='51', style='left: 232px; top: -592px;')
            +icons._thuja
        .map-tree(data-num='52', style='left: 240px; top: -660px;')
            +icons._thuja
        .map-tree(data-num='53', style='left: 274px; top: -706px;')
            +icons._thuja
        .map-tree(data-num='54', style='left: 248px; top: -746px;')
            +icons._thuja
        .map-tree(data-num='55', style='left: 287px; top: -796px;')
            +icons._thuja
        .map-tree(data-num='56', style='left: 255px; top: -834px;')
            +icons._thuja
        .map-tree(data-num='57', style='left: 200px; top: -930px;')
            +icons._chestnut
        .map-tree(data-num='57', style='left: 200px; top: -988px;')
            +icons._linden
        .map-tree(data-num='58', style='left: 150px; top: -1006px;')
            +icons._rowan


        .map-tree.map-tree_absolute(data-num='60', style='left: 383px; top: 308px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='61', style='left: 448px; top: 323px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='62', style='left: 492px; top: 333px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='63', style='left: 543px; top: 335px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='64', style='left: 640px; top: 326px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='65', style='left: 664px; top: 332px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='66', style='left: 687px; top: 335px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='67', style='left: 709px; top: 340px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='68', style='left: 660px; top: 357px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='69', style='left: 708px; top: 371px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='70', style='left: 785px; top: 361px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='71', style='left: 811px; top: 367px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='72', style='left: 839px; top: 372px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='73', style='left: 865px; top: 377px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='74', style='left: 891px; top: 382px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='75', style='left: 918px; top: 387px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='76', style='left: 944px; top: 392px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='77', style='left: 971px; top: 397px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='78', style='left: 1020px; top: 407px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='79', style='left: 1046px; top: 412px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='80', style='left: 1072px; top: 417px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='81', style='left: 1086px; top: 454px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='82', style='left: 1134px; top: 453px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='83', style='left: 1080px; top: 485px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='84', style='left: 1130px; top: 485px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='85', style='left: 1073px; top: 518px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='86', style='left: 1124px; top: 517px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='87', style='left: 1067px; top: 551px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='88', style='left: 1117px; top: 550px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='89', style='left: 1061px; top: 583px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='90', style='left: 1111px; top: 581px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='91', style='left: 1055px; top: 615px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='92', style='left: 1105px; top: 613px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='93', style='left: 1048px; top: 647px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='94', style='left: 1098px; top: 645px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='95', style='left: 1042px; top: 679px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='96', style='left: 1092px; top: 677px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='97', style='left: 1035px; top: 712px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='98', style='left: 1085px; top: 710px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='99', style='left: 1028px; top: 744px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='100', style='left: 1078px; top: 742px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='101', style='left: 1022px; top: 777px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='102', style='left: 1072px; top: 775px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='103', style='left: 1015px; top: 809px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='104', style='left: 1065px; top: 807px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='105', style='left: 1009px; top: 840px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='106', style='left: 1059px; top: 838px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='107', style='left: 1003px; top: 872px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='108', style='left: 1053px; top: 870px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='109', style='left: 997px; top: 906px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='110', style='left: 1047px; top: 904px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='111', style='left: 1041px; top: 936px;')
            +icons._thuja
        .map-tree.map-tree_absolute(data-num='112', style='left: 1035px; top: 966px;')
            +icons._thuja









