extends ../layouts/default

include ../components/icons/icons

block head
    -pageSettings.title = 'Главная';

block content
    // Контент здесь
    .map
        .map-tree(data-num='1', style='left: 538px; top: 556px;')
            +icons._thuja
        .map-tree(data-num='2', style='left: 569px; top: 542px;')
            +icons._thuja
        .map-tree(data-num='3', style='left: 527px; top: 539px;')
            +icons._rowan
        .map-tree(data-num='4', style='left: 485px; top: 497px;')
            +icons._maple
        .map-tree(data-num='5', style='left: 492px; top: 527px;')
            +icons._sugar
        .map-tree(data-num='6', style='left: 520px; top: 496px;')
            +icons._thuja
        .map-tree(data-num='7', style='left: 518px; top: 511px;')
            +icons._thuja
        .map-tree(data-num='8', style='left: 473px; top: 485px;')
            +icons._rowan
        .map-tree(data-num='9', style='left: 487px; top: 485px;')
            +icons._thuja
        .map-tree(data-num='11', style='left: 453px; top: 505px;')
            +icons._chestnut
        .map-tree(data-num='12', style='left: 433px; top: 464px;')
            +icons._thuja
        .map-tree(data-num='13', style='left: 439px; top: 414px;')
            +icons._thuja
        .map-tree(data-num='14', style='left: 426px; top: 453px;')
            +icons._thuja
        .map-tree(data-num='15', style='left: 480px; top: 405px;')
            +icons._thuja
        .map-tree(data-num='16', style='left: 488px; top: 421px;')
            +icons._thuja
        .map-tree(data-num='17', style='left: 447px; top: 427px;')
            +icons._thuja
        .map-tree(data-num='18', style='left: 426px; top: 457px;')
            +icons._chestnut
        .map-tree(data-num='19', style='left: 467px; top: 448px;')
            +icons._sugar
        .map-tree(data-num='20', style='left: 440px; top: 435px;')
            +icons._maple
        .map-tree(data-num='21', style='left: 553px; top: 299px;')
            +icons._thuja
        .map-tree(data-num='22', style='left: 581px; top: 299px;')
            +icons._maple
        .map-tree(data-num='23', style='left: 574px; top: 220px;')
            +icons._thuja
        .map-tree(data-num='24', style='left: 576px; top: 171px;')
            +icons._sugar
        .map-tree(data-num='26', style='left: 558px; top: 121px;')
            +icons._rowan
        .map-tree(data-num='27', style='left: 606px; top: 89px;')
            +icons._maple
        .map-tree(data-num='28', style='left: 568px; top: 13px;')
            +icons._linden
        .map-tree(data-num='30', style='left: 565px; top: 14px;')
            +icons._thuja
        .map-tree(data-num='31', style='left: 106px; top: 426px;')
            +icons._linden
        .map-tree(data-num='32', style='left: 62px; top: 381px;')
            +icons._rowan
        .map-tree(data-num='33', style='left: 67px; top: 314px;')
            +icons._linden
        .map-tree(data-num='34', style='left: 145px; top: 288px;')
            +icons._sugar
        .map-tree(data-num='35', style='left: 150px; top: 218px;')
            +icons._chestnut
        .map-tree(data-num='35', style='left: 154px; top: 140px;')
            +icons._sugar
        .map-tree(data-num='37', style='left: 184px; top: 150px;')
            +icons._thuja
        .map-tree(data-num='38', style='left: 195px; top: 58px;')
            +icons._thuja
        .map-tree(data-num='39', style='left: 215px; top: -41px;')
            +icons._thuja
        .map-tree(data-num='40', style='left: 223px; top: -107px;')
            +icons._thuja
        .map-tree(data-num='41', style='left: 229px; top: -167px;')
            +icons._thuja
        .map-tree(data-num='42', style='left: 123px; top: -207px;')
            +icons._linden
        .map-tree(data-num='43', style='left: 133px; top: -297px;')
            +icons._chestnut
        .map-tree(data-num='44', style='left: 77px; top: -339px;')
            +icons._rowan
        .map-tree(data-num='45', style='left: 203px; top: -307px;')
            +icons._thuja
        .map-tree(data-num='46', style='left: 233px; top: -333px;')
            +icons._thuja
        .map-tree(data-num='47', style='left: 210px; top: -394px;')
            +icons._thuja
        .map-tree(data-num='48', style='left: 244px; top: -436px;')
            +icons._thuja
        .map-tree(data-num='49', style='left: 220px; top: -498px;')
            +icons._thuja
        .map-tree(data-num='50', style='left: 254px; top: -549px;')
            +icons._thuja
        .map-tree(data-num='51', style='left: 232px; top: -592px;')
            +icons._thuja
        .map-tree(data-num='52', style='left: 240px; top: -660px;')
            +icons._thuja
        .map-tree(data-num='53', style='left: 274px; top: -706px;')
            +icons._thuja
        .map-tree(data-num='54', style='left: 248px; top: -746px;')
            +icons._thuja
        .map-tree(data-num='55', style='left: 287px; top: -796px;')
            +icons._thuja
        .map-tree(data-num='56', style='left: 255px; top: -834px;')
            +icons._thuja
        .map-tree(data-num='57', style='left: 200px; top: -930px;')
            +icons._chestnut
        .map-tree(data-num='57', style='left: 200px; top: -988px;')
            +icons._linden
        .map-tree(data-num='58', style='left: 150px; top: -1006px;')
            +icons._rowan




