extends ../layouts/default

include ../components/icons/icons
include ../components/map/map
include ../components/form/form

block head
    -pageSettings.title = 'Главная';

block content

    .wrapper.wrapper_on-map
        .container
            +b.map-title Выберите и забронируйте своё дерево

    .map-wrapper

        +map(map.defaults)

    .wrapper.wrapper_on-form
        .container
            +form